name: Sync Fork

permissions: write-all

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: main
          fetch-depth: 0 
      - name: Sync Upstream
        uses: zhangnew/sync-upstream@v2
        with:
          upstream: Soncresity-Industries/wiki.soncresity.industries
          upstream-branch: main
          branch: main
