@import 'tailwindcss';
@import "fumadocs-ui/css/neutral.css";
@import 'fumadocs-ui/css/preset.css';

@source '../node_modules/fumadocs-ui/dist/**/*.js';
@theme {
    --color-fd-background: hsl(210, 100%, 97%);
    --color-fd-primary: hsl(210, 90%, 55%);
    --color-fd-border: hsla(210, 40%, 80%, 0.5);
    --color-fd-accent: hsl(210, 40%, 90%);
    --color-fd-accent-foreground: hsl(210, 90%, 20%);
    --color-fd-muted: hsl(210, 60%, 94%);
    --color-fd-muted-foreground: hsl(210, 50%, 45%);
    --color-fd-foreground: hsl(210, 50%, 20%);
    --color-fd-secondary: hsl(210, 60%, 92%);
    --color-fd-secondary-foreground: hsl(210, 50%, 15%);
    --color-fd-card: hsl(210, 60%, 96%);
    --color-fd-card-foreground: hsl(210, 90%, 20%);
    --color-fd-popover-foreground: hsl(210, 90%, 20%);
    --color-fd-popover: hsl(210, 60%, 98%);
    --color-fd-primary-foreground: hsl(210, 100%, 20%);
    --color-fd-ring: hsl(210, 90%, 55%);
}

.dark {
    --color-fd-background: hsl(220, 20%, 7%);
    --color-fd-primary: hsl(210, 100%, 80%);
    --color-fd-border: hsla(210, 50%, 50%, 0.3);
    --color-fd-accent: hsl(220, 25%, 20%);
    --color-fd-accent-foreground: hsl(210, 50%, 90%);
    --color-fd-muted: hsl(220, 25%, 12%);
    --color-fd-foreground: hsl(210, 20%, 92%);
    --color-fd-muted-foreground: hsl(210, 30%, 75%);
    --color-fd-secondary: hsl(220, 20%, 18%);
    --color-fd-secondary-foreground: hsl(210, 20%, 92%);
    --color-fd-card: hsl(220, 25%, 12%);
    --color-fd-card-foreground: hsl(210, 20%, 92%);
    --color-fd-popover-foreground: hsl(210, 20%, 92%);
    --color-fd-popover: hsl(220, 20%, 8%);
    --color-fd-primary-foreground: hsl(220, 15%, 10%);
    --color-fd-ring: hsl(210, 100%, 80%);
}
