name: Sync Fork

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync Upstream
        uses: zhangnew/sync-upstream@v1
        with:
          upstream: ORG/REPO
          upstream-branch: main
          branch: main
          token: ${{ secrets.GITHUB_TOKEN }}
